*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color:black;
    font-family:  Helvetica, sans-serif;
    
}
#section1::before{
    content: "";
    background-image: url(./img/background.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#section1{
    /* background-color: blue; */
    margin-top: 1.5rem;
    padding-left: 1.8rem;
    padding-bottom: 6.3rem;
    border-bottom: 10px solid grey;
    
    
}
#section-div1{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    /* background-color: blueviolet; */
    margin-bottom: 16%;
}
#section-div1>#left{
    /* background-color: blueviolet;     */
}

#section-div1>#left>img{
    width: 9.25rem;
    height: 2.5rem;
    
}
#section-div1>#right{
    
    width: 30%;
    
}
#right>#cont{
    /* background-color: brown; */
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: space-between;
    list-style-type: none;
    
}
#select>#lang{
    width: 190%;
    margin: auto;
    height: 70%;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
#select>#lang>option{
    width: 170%;
    
    background-color: white;
    color: grey;
}
#select{
    position: relative;
}
#select>i{
    position: absolute;
    top: 18%;
    left: 8%;
    color: white;
}
#cont>li>#signup{
    width: 130%;
    height: 70%;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;  
}
#cont>:nth-child(2){
    margin-right: 25%;
}
/* -----------input/search(section-div2)----------- */

#section-div2{
    width: 77%;
   margin-bottom: 40%;
    /* background-color: aqua; */
    margin: auto;
    text-align: center;
    
}
#section-div2>h1{
    color: white;
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
#section-div2>h2{
    color: white;
}
#section-div2>p{
    color: white;
    font-size: 1.1rem;
}
#section-div2>input{
    height: 3rem;
    width: 22rem;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    margin-right: 1rem;
    background-color: transparent;
    font-weight: bold;
    padding-left:13px;
    /* outline: 2px solid rgba(255, 255, 255, 0.5); */
}
#section-div2>input::before{
    position: relative;
    background-color: white;
    content: "";
    z-index: -1;
    opacity: 0.5;   
}
#section-div2>input::placeholder{
    color:rgb(194, 193, 193);
    font-size: 16px;
}
#section-div2>button{
    height: 3.2rem;
    width: 17%;
    border-radius: 3px;
    background-color: red;
    border: none;
    margin: 0;
    padding: 0;
}
#section-div2>button>a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    
}

/* ------------section2(enjoy)---------------------------- */
#section2{
    
    
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    /* margin-top: 10.5%; */
    height: 32rem;
    border-bottom: 10px solid grey;
}

#text{
    /* background-color: red; */
    width: 48%;
    color: white;
    margin: 0;
    padding: 0;
    padding-left:9rem;
    
}
#text>h2{
    font-size: 3rem;
}
#text>p{
    font-size: 1.5rem;
}
#media{
    /* background-color: blue; */
    width: 48%; 
    margin: 0;
    padding: 0;
    padding-right: 8rem;
}
#media>img{
    
    width: 100%;
}
#media>video{
    position: absolute;
    top: 20.5%;
    left: 10.5%;
    width: 61%; 
}
#media{
    position: relative;
}
#media>img{
    position: relative;
    z-index: 1;
}

/* ------------------section3---------------------- */
#section3{
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 32rem;
    border-bottom: 10px solid grey;
}
#section3>#left{
    /* background-color: red; */
    width: 48%;
    margin: auto;
    position: relative;
    padding-left: 8rem;
}
#section3>#right{
    /* background-color: brown; */
    width: 48%;
    margin: auto;
    padding-right:8rem ;
    padding-bottom: 1.8rem;
}
#left>#top{
    width: 90%;
    margin: auto;
    /* text-align: center; */
}
#left>#top>img{
    width: 100%;
}
#left>#down{
    position: absolute;
    border: 2px solid grey;
    top: 15rem;
    left: 15.7rem;
    width: 18rem;
    height: 6rem;
    /* top: 11rem;
    left: 12rem;
    width: 18rem;
    height: 5rem; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
#down>#div1{
    padding: 2% 3.5%;
    width: 30%;
    margin-right: 0;
    padding-right: 0; 
}
#down>#div1>img{
    width: 80%;
    height: 100%;

}
#down>#div2{
width: 50%;
/* text-align: center; */
margin: auto;
margin-left: 0;
padding-left: 0;
}
#down>#div2>h2{
    color: white;
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
#down>#div2>p{
    margin-top: 0;
    padding-top: 0;
    color: blue;
    font-size: 14px;
}
#down>#div3{
    width: 20%;
    margin: auto;
}
#down>#div3>img{
    width: 80%;
    margin: auto;
}
#section3>#right>h2{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 16px;
    
}
#section3>#right>p{
    color: white;
    font-size: 24px;
    margin-top: 0;
    /* padding-top: 0; */
}

/* --------section4(watch)------------------- */
#section4{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    height: 32rem;
    border-bottom: 10px solid grey;
}

#text1{
    /* background-color: brown; */
    color: white;
    width: 48%;   
    margin: 0;
    padding: 0;
    padding-left:8rem;
}
#text1>h2{
    font-size: 3rem;
}
#text1>p{
    font-size: 1.5rem;
}
#media1{
   
    position: relative;
    margin: 0;
    padding: 0;
    /* background-color: blueviolet; */
    width: 40%;
    right: 8rem;

}
#media1>img{
    /* background-color: red; */
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    
}
#media1>video{
    position: absolute;
    top: 9%;
    left: 18%;
    width: 64%;
}

#media1>img{
    position: relative;
    z-index: 1;
}

/* -----------------------section5-------------------- */
#section5{
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 10px solid grey;
   
}
#section5>#children-left{
    width: 48%;
    /* background-color:yellow; */
    margin: auto;
}
#section5>#text-right{
    position: relative;
    bottom: 2rem;
    right: 6rem;
    width: 48%;
    /* background-color: chartreuse; */
    margin: auto;
}
#section5>#children-left>img{
    width: 100%;
    height: 82%;
    padding-top: 10%;
    padding-left: 20%;
    padding-bottom: 10%; 
}

#section5>#text-right>h2{
    width: 75%;
    margin: auto;
    color: white;
    font-size: 2.9rem;
    padding-top: 2rem;
    font-weight: 900;
}
#section5>#text-right>p{
    padding-top: 2rem;
    width: 75%;
    color: white;
    margin: auto;
    font-size: 1.3rem;
}

/* -------------section6---------------- */
#section6{
    /* background-color: red; */
    margin: 0;
    padding: 0;
    padding-bottom: 4rem;
    border-bottom: 10px solid grey;
    
}
#section6>h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}
#section6>ul{
    margin: 0;
    padding: 0;
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}
#section6>ul>li{
    list-style-type: none;
    /* background-color: green; */
    margin-bottom: 1rem;
   
}
#section6>ul>li>a>div{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #2d2d2d;
    font-size: 2rem;
    color: white;
}
#section6>ul>li>a{
    text-decoration: none;
}
#section6>ul>li>.details{
    border-top: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #2d2d2d;
    color: white;
    display: none;
    position: absolute;
}
#section6>ul>li:hover .details{
    display: block;
    position: relative;
}

/* -------------footer------------- */
#footer{
    width: 75%;
    margin: auto;
    padding-bottom: 4rem;
}
#footer>#footer-div{
    display: flex;
    justify-content: space-between;
}
#footer>h4{
    color: rgba(255, 255, 255, 0.473);
    font-weight: 100;
}
#footer>h4>a{
    color: rgba(255, 255, 255, 0.473);
    font-weight: 100;
}
#footer>#footer-div>ul{
   padding-left: 0;
}
#footer>#footer-div>ul>li{
    list-style-type: none;
    padding: 6px;
}
#footer>#footer-div>ul>li>a{
    color: rgba(255, 255, 255, 0.473);
    font-size: 14px;
    font-weight: 100;
}



















 



































